<div id="footer">
  <div class="why_choose_us"><img src="/assets/store/why_choose_us.png"></div>
  <div class="wrapper box-shadow">
    <!-- <div class="foot_logo"><img src="/assets/store/logo_white.png"></div> -->
    <div class="foot_hotline"><img src="/assets/store/hotline.png"></div>
    <div class="subscribe">
      <form action="http://imodec.createsend.com/t/t/s/zjiyu/" method="post" id="subForm" style="height: 40px;">
        <input type="text" name="cm-zjiyu-zjiyu" id="zjiyu-zjiyu" placeholder="请输入邮箱订阅上儿EDM" class="rsstxt" value="请输入邮箱订阅上儿EDM"/>
        <div class="rssbutton"><input type="submit" value="订阅"></div>
      </form>
    </div>
    <div class="foot_qrcode"><p>上儿微信二维码</p><img src="/assets/store/weixin.jpg" width="77" height="77"></div>
    
    <div class="about">
      <ul>
        <h3>帐户管理</h3>
        <li><a href="/pages/zhgl">帐户管理</a></li>
        <li><a href="/pages/hyqy">会员权益</a></li>
        <!-- <li><a href="http://mall.scnc-sh.com/article-CONTENT_NULL-51.html">FAQ常见问题</a></li>
        <li><a href="http://mall.scnc-sh.com/article-cominfo_contact-170.html">联系我们</a></li> -->
      </ul>
      <!--
      <ul>
        <h3>更多内容</h3>
        <li><a href="/pages/faq">关于我们</a></li>
        <li><a href="/pages/faq">摩登杂志</a></li>
        <li><a href="/pages/faq">摩登资讯</a></li>
      </ul>
      -->
      <ul>
        <li><h3>购物帮助</h3></li>
        <li><a href="/pages/gwlc">购物流程</a></li>
        <li><a href="/pages/gmxz">购物须知</a></li>
      </ul>
      <ul>
        <li><h3>支付/配送方式</h3></li>
        <li><a href="/pages/spps">商品配送</a></li>
        <li><a href="/pages/fkfs">付款方式</a></li>
      </ul>
      <ul>
        <li><h3>售后服务</h3></li>
        <li><a href="/pages/thhfw">退换货服务</a></li>
      </ul>

    </div>
    <div class="partners">
      <ul>
        <li><span>友情链接：</span></li>
     <!--   <li><a href="#" target="_blank">网</a></li>

        -->
      </ul>
    </div>
    <div class="copyright">
      <span class="legal_info">沪ICP备16007395号  Copyright &copy; 2008-2016 scnc-sh.com 版权所有 上海儿童营养中心有限公司 All rights reserved</span>
      <span class="legal_links">
        <a href="http://mall.scnc-sh.com/article-cominfo_about-180.html">关于scnc-sh </a>&nbsp;&nbsp;|&nbsp;
        <!-- <a href="#">使用条款</a>&nbsp;&nbsp;|&nbsp; -->
        <a href="http://mall.scnc-sh.com/article-cominfo_contact-170.html">联系我们</a>&nbsp;&nbsp;|&nbsp;
        <a href="http://mall.scnc-sh.com/article-cominfo_jianduzhongxin-171.html">监督中心</a>&nbsp;&nbsp;|&nbsp;
        <a href="http://mall.scnc-sh.com/sitemaps-catalog.xml">网站地图</a>
      </span>
    </div>
  </div>
</div>