<div id="header">
  <div class="container">
    <div id="imodec_logo">
      <a href="http://www.scnc-sh.com"><img alt="上儿" src="/assets/store/logo_big.png"></a>
    </div>
    <div id="imodec_slogan">
      <img  src="/assets/store/slogan.png">
    </div>
  </div>
</div>